.book-modal-image {
    width: 150px; 
    height: 200px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary {
    margin-top: 15px;
}

@media only screen and (max-width: 1350px) {
    .book-modal-image {
        width: 100px; 
        height: 150px;
    }
    a.MuiButtonBase-root.MuiButton-root.MuiButton-contained.book-btn.MuiButton-containedSecondary {
        height: 40px;
        width: 100px;
    }
} 

