#myContact-Video {
    position: absolute;
    width: 100%;
    left: 50%;
    height: 2000px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media only screen and (max-width: 650px) {
    #myContact-Video  {
        height: 2400px;
    }
}

@media only screen and (max-width: 900px) {
    #myContact-Video  {
        height: 2550px;
    }
}

@media only screen and (min-width: 920px) {
    #myContact-Video  {
        height: 2700px;
    }
}

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    #myContact-Video  {
        height: 2500px;
    }
}

@media only screen and (min-width: 1280px) {
    #myContact-Video  {
        height: 2250px;
    }
}


@media  screen and (min-width: 1680px) {
    #myContact-Video  {
        height: 2450px;
    }
} 

@media  screen and (min-width: 2560px) {
    #myContact-Video  {
        height: 2700px;
    }
} 
 
@media screen and (min-width: 3840px) {
    #myContact-Video  {
        height: 3400px;
    }
} 


.card-form-contact {
    max-width: 550px;
}
 

@media  screen and (max-width: 750px) {
    .card-form-contact  {
        max-width: 95%;
    }
}